<ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
        <div class="button button-outline icon-left ion-ios-arrow-left button-light" ng-click="changeWeeks(-1)">前一天</div>
    </div>
    <div class="h1 title">{{meetingListDate}}</div>
    <div class="buttons">
        <div class="button button-outline icon-right ion-ios-arrow-right button-light" ng-click="changeWeeks(1)">后一天</div>
    </div>
</ion-header-bar>
<ion-content class="has-footer ion-pseudo">
    <div class="card" ng-repeat="list in departmentList" ng-click=" showModal(list.status)">
        <div class="item item-icon-right {{list.status}}">
            <b class="title">
                会议主题：{{list.title}}
            </b>
        </div>
        <div class="item item-icon-right {{list.status}}">
            会议室：{{list.room}}
        </div>
        <div class="item item-icon-right {{list.status}}">
            会议时间：{{list.time}}
        </div>
    </div>
</ion-content>