<ion-header-bar class="bar bar-header bar-positive">
    <div class="h1 title">预约会议</div>
    <div class="buttons">
        <button class="button button-outline button-light" ng-click="affirmOrderInfo()">
            预约
            <i class="icon ion-ios-checkmark-outline"></i>
        </button>
    </div>
</ion-header-bar>
<ion-content class="has-footer">
    <div class="card">
        <label class="item item-input">
            <span class="input-label positive">会议主题</span>
            <input type="text" ng-model="meetingTitle">
        </label>
        <label class="item item-input" ng-click="openDatePicker()">
            <span class="input-label positive">会议日期</span>
            <input type="text" ng-model="meetingDate" readonly>
        </label>
        <div class="item">
            <label class="input-label positive" >会议结束时间&nbsp;（{{meetingTime}}）</label>
            <div class="range positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="48" ng-model="meetingTime1.volume">
                <i class="icon ion-ios-moon-outline"></i>
            </div>
            <div class="range positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="48" ng-model="meetingTime2.volume">
                <i class="icon ion-ios-moon-outline"></i>
            </div>
        </div>
        <label class="item item-input padding-right">
            <span class="input-label positive">选择循环模式</span>
            <button class="button button-small button-full button-outline button-balanced" ng-click="circulation()">{{circulationMsg}}</button>
        </label>
        <label class="item item-input padding-right">
            <span class="input-label positive">选择会议类型</span>
            <button class="button button-small button-full button-outline button-balanced" ng-click="meetingTypeShow()">{{meetingType}}</button>
        </label>
    </div>
    <div class="card" ng-click="meetingRoomInfo()">
        <div class="item item-icon-right positive">
            <i class="icon ion-ios-home-outline"></i>选择会议室&nbsp;&nbsp;&nbsp;{{selectRoomId}}
        </div>
    </div>
    <div class="card" ng-click="peopleInfo()">
        <div class="item item-icon-right positive">
            <i class="icon ion-ios-people-outline"></i>参会人员
        </div>
    </div>
    <div class="card">
        <div class="item item-divider item-icon-right positive" ng-click="deleteAllUser()">
            <i class="icon ion-android-delete assertive"></i>
            已选人员
        </div>
        <div class="item item-icon-right balanced" ng-repeat="(k,v) in checkedUser" ng-click="checkedUser.splice(k,1)">
            <i class="icon ion ion-ios-close-outline assertive"></i>
            {{v}}
        </div>
    </div>
</ion-content>
<script id="templates/meetingRoom.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">会议室信息</h1>
            <div class="buttons padding-right" ng-click="meetingModal.hide()">
                <div class="button button-clear ion-chevron-down"></div>
            </div>
        </ion-header-bar>
        <ion-content class="has-header ion-pseudo padding">
            <ion-slide-box show-pager="false" active-slide="mySlide" on-slide-changed="slideChange($index)">
                <ion-slide>
                    <div class="card">
                        <div class="item item-icon-right" ng-repeat="(k,list) in roomList1" ng-click="meetingRoom1(k,list.id)">
                            <i class="icon ion-ios-arrow-forward positive"></i>
                            {{list.text}}
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card">
                        <div class="item item-icon-right" ng-repeat="(k,list) in roomList2" ng-click="meetingRoom2(k,list.id)">
                            <i class="icon ion-ios-arrow-forward positive"></i>
                            {{list.text}}
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card">
                        <div class="item item-icon-right" ng-repeat="list in roomList3" ng-click="meetingRoom3(list.id)">
                            <i class="icon ion-ios-arrow-forward positive"></i>
                            {{list.text}}
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="card">
                        <div class="card" ng-repeat="list in roomList4">
                            <div class="item item-divider">{{list.locationName}}</div>
                            <div class="item" ng-repeat="v in list.roomList" ng-click="selectRoom(v.id)">
                        room:{{v.id}}&nbsp;状态:{{v.status}}
                            </div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-modal-view>
</script>
<script id="templates/peopleList.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">参会人员信息</h1>
            <div class="buttons padding-right" ng-click="peopleModal.hide()">
                <div class="button button-clear ion-chevron-down"></div>
            </div>
        </ion-header-bar>
        <ion-content class="has-header ion-pseudo padding">
            <div class="card">
                <div class="item item-icon-right positive" ng-repeat="list in departList1" ng-click="getUsers(list.id)">
                    <i class="icon ion-ios-arrow-forward"></i>
                    {{list.name}}
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="templates/peopleList1.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar align-title="center" class="bar bar-header bar-positive">
            <div class="buttons padding-right" ng-click="usersModal.hide()">
                <div class="button button-clear ion-chevron-down"></div>
            </div>
            <h1 class="title">选择参会人员</h1>
            <div class="buttons padding-right" ng-click="affirmChecked()">
                <div class="button button-clear  ion-ios-checkmark-outline"></div>
            </div>
        </ion-header-bar>
        <ion-content class="has-header ion-pseudo padding">
            <div class="card">
                <ion-checkbox ng-model="allChecked.checked"  ng-checked="allChecked.checked" ng-click="toggleAllBox()">全选</ion-checkbox>
                <ion-checkbox ng-repeat="list in userList" ng-model="list.checked" ng-checked="list.checked">{{list.name}}</ion-checkbox>
            </div>
        </ion-content>
    </ion-modal-view>
</script>